@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*, *:before, *:after {
    @include box-sizing(border-box);
}

b {
  color: #07c956;
}

.nobold {
  font-weight: normal !important;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight:100;
    font-size:20px;
}

a {
    color: #333;
    text-decoration: none !important;
}

h1 {
    font-weight: 100;
}

.content {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.page-container {
    padding: 0 10% 0 10%;
    .title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
        user-select: none;

    }
}

@media (max-width: 550px) {
    .page-container {
        .title {
            font-size: 5rem;
        }
    }
}
