.gallery-page {
    .section-header {
        text-transform: uppercase;
        font-size: 3rem;
        .section-header-info {
            font-size: 1.5rem;
            margin: 0 7px;
        }
        .fa {
            font-size: 2rem;
        }
    }
}
