.gallery-page {
    margin: 50px 0;
    .section-container {
        margin: 20px 0;
        .section-header {
            text-transform: uppercase;
            user-select: none;
            font-size: 3rem;
            .section-title {
                display: inline-block;
            }
            .arrow {
                display: inline-block;
                margin-left: 5px;
            }
        }
        .photo-grid {
            @extend .row;
            margin: 10px 0;
            display: none;
            .gallery-image {
                @extend .col;
                @extend .col--1-of-4;
                height: 190px;
                margin-bottom: 5px;
                background-position: center top;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
