#home {
    background-image: url("img/home/homebg7.png");
    width:100%;
    height:500px;
}

.title {
    font-size:70px;
    font-weight:100;
    text-align:center;
}

#updates {
    background-color:#000;
    color:#fff;
    padding-bottom:30px;
}

#elephant {
    float:right;

}

#elephant2 {
    float:left;

}

#intro {
    padding-top:30px;
    text-align:right;
}

/*  Announcement stylings  */

.Edescription {
    font-size: 15px;
    padding-top: 5px;
}

.Edate {
  font-size: 15px;
}
