<template name="about">
  <div class="about-page page-container container">
    <div class="title">Council</div>

    <div class="council-images">

      {{#each council}}
      <div class="council-member">
        <div class="member-image">
          <img src="{{this.image}}" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>{{this.name}}</p>
          <p>{{this.position}}</p>
        </div>
      </div>
      {{/each}}

    </div>

    <div class="sitar-image">
      <img src="img/about/About2.png" alt="" class="img-scaled-wh">
    </div>
  </div>
</template>
