<template name="about">
  <div class="about-container container">
    <div class="title">Council</div>

    <div class="council-images">
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Ravina Pattni</p>
          <p>External VP</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Jash Mahipal</p>
          <p>Internal VP</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Utkarsh Bansal</p>
          <p>Events Director</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Sarbari Bhattacharjee</p>
          <p>Publicity Director</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
      <div class="council-member">
        <div class="member-image">
          <img src="" alt="" class="img-scaled-wh">
        </div>
        <div class="member-description">
          <p>Madhav Vora</p>
          <p>President</p>
        </div>
      </div>
    </div>

    <div class="sitar-image">
      <img src="img/about/About2.png" alt="" class="img-scaled-wh">
    </div>
  </div>
</template>
