<template name="ApplicationLayout">
	<!-- <div class="container"> -->
      	<nav class="navbar navbar-custom">
        	<div class="container-fluid">
          		<div class="navbar-header">
            		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              			<div id="menuToggle"><i class="fa fa-bars"></i></div>
            		</button>

         		</div>
          		<div id="navbar" class="navbar-collapse collapse">
            		<ul class="nav navbar-nav navbar-right">
              			<li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
              			<li class="#"><a href="#">EVENTS</a></li>
              			<li><a href="#">BLOG</a></li>
                    <li><a href="#">GALLERY</a></li>
            		</ul>
          		</div><!--/.nav-collapse -->
        	</div><!--/.container-fluid -->
      	</nav>
    <!-- </div> -->
    <!-- <div class="container"> -->
		<div style="padding-top:60px">
			{{> yield}}
		</div>
	<!-- </div> -->
</template>
