<template name="archive">
  <div class="container">
    {{#if showArchive}}
      <div class="title blog-header-spacing">ARCHIVE</div>
    {{else}}
      <div class="title blog-header-spacing"><p id="backToArchive">BACK TO ARCHIVE</p></div>
    {{/if}}

  </div>
  <br>
  {{#if showArchive}}

    <div class="page-container">
      {{#each posts}}
        <p class="archivePost" id="{{this._id}}">{{this.date}} - {{this.title}}</p>
      {{/each}}
    </div>

  {{else}}

    <div class="page-container">
      {{#with archivedPost}}
        {{> post}}
      {{/with}}
    </div>

  {{/if}}
</template>
