<template name="gallery">
    <div class="page-container gallery-page">
        <div class="title">
            Gallery
        </div>
        {{ #each events }}
        <div class="section-container">
            <div class="section-header">
                <div class="section-title">
                    {{ this.title }}
                </div>
                <div class="arrow">
                    <i class="fa fa-caret-up"></i>
                </div>
            </div>
            <div class="photo-grid">
                {{ #each this.photos }}
                    <div class="gallery-image" style="background-image:url('{{ this }}')"></div>
                {{ /each }}
            </div>
        </div>
        {{ /each }}
    </div>
</template>
