<template name="gallery">
    <div class="page-container gallery-page">
        <div class="title">
            Gallery
        </div>
        {{ #each events }}
        <div class="section-container">
            <div class="section-header">
                <div class="section-title">
                    {{ this.title }}
                </div>
                <i class="fa fa-caret-up arrow"></i>
            </div>
            <div class="photo-grid">
                {{ #each this.photos }}
                    <div class="lightbox-trigger" image="{{ this }}">
                        <div class="gallery-image" style="background-image:url('{{ this }}')"></div>
                    </div>
                {{ /each }}
            </div>
        </div>
        {{ /each }}
        <div class="lightbox">
            <img class="lightbox-image" src="{{ imageUrl }}">
        </div>
    </div>
</template>
