#navbar {
    ul {
        li {
            text-align: center;
            outline: none;
        }
    }
    a {
        width: 115px;
        &:hover {
            background: none;
            font-weight: 300;
            color: #000;
        }
    }
}

.dropdown-menu {
  min-width: 20px !important;
}

.dropdown-menu a {
  border-bottom: none !important;
  font-family: 'Roboto', sans-serif;
}

#navbar a {
	border-bottom: 4px solid transparent;
}

#navbar a:hover {
	border-bottom: 4px solid #000;
	background:none;
	font-weight:300;
	color:#000;
}
