#navbar {
    ul {
        li {
            text-align: center;
            outline: none;
        }
    }
    a {
        width: 100px;
        &:hover {
            background: none;
            font-weight: 300;
            color: #000;
        }
    }
}
