#navbar {
    ul {
        li {
            text-align: center;
            outline: none;
        }
    }
    a {
        width: 100px;
        &:hover {
            background: none;
            font-weight: 300;
            color: #000;
        }
    }
}

#navbar a {
	border-bottom: 4px solid transparent;
}

#navbar a:hover {
	border-bottom: 4px solid #000;
	background:none;
	font-weight:300;
	color:#000;
}
