<template name="diwali">
	<div class="events_container">
		<div class="title">
			Diwali
		</div>
		<div class="image_container">
			<img src="/img/events/diwali/diwali1.jpg">
			<img src="/img/events/diwali/diwali2.jpg">
			<img src="/img/events/diwali/diwali3.jpg">
			<img src="/img/events/diwali/diwali4.jpg">
		</div>
		<p>
			Known alternatively as Deepavali in South India, Diwali is considered the Hindu festival of lights, where diyas are lit to signify the triumph of good over evil. The festival is closely correlated with the Hindu New Year, and is usually celebrated by donning new clothes, visiting with relatives, and traditional pujas to the goddess Lakshmi. It is one of the few holidays within Hinduism observed throughout the subcontinent. 
		</p>
		<p>
			As with most holidays, they are numerous stories within Hindu lore that explain the celebration of Diwali. These include: the return of Shri Ram to his home in Ayodhya, following a fourteen year exile; the vanquishing of the demon Narakasur by Satyabhama, one of the wives of Krishna; the austerities observed by the goddess Shakti to her consort, Shiva; Krishna's defeat of Indra, the king of the gods.
		</p>
	</div>
</template>